<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Test API Client</title>
<script>
let doIt=()=>{
  let button = document.querySelector("button");
  button.disabled = true; // Disable the button after the first click
  let tab=document.getElementById("tab1");
  let rows=tab1.getElementsByTagName('tr');
  fetch('https://pruthviraj.uksouth.cloudapp.azure.com:8080/getStock')
    .then(response => response.json())
    .then(data=>data.Results.forEach(  //.slice(0,3)
      x=>{
        let newRow=rows[0].cloneNode(true);
        let divs=newRow.getElementsByTagName('td');
        divs[0].innerHTML=x['market'];
        divs[1].innerHTML=x['stock'];
        divs[2].innerHTML=x['Symbol'];
        divs[3].innerHTML=x['Company Name'];
        divs[4].innerHTML=x['Asset Type'];
        divs[9].innerHTML=x['Dividend'];
        divs[14].innerHTML=x['Market Cap'];
        divs[16].innerHTML=x['PE Ratio'];
        divs[19].innerHTML=x['Dividend Yield'];
        divs[23].innerHTML=x['Beta'];
        divs[28].innerHTML=x['Long_Term_Investment_Potential'];
        tab1.appendChild(newRow);
      }
    )

  );
}
</script>
</head>
<body>
<button onClick="doIt()">Press me</button>
This is where the results turn up: <br/>
<table id='tab1' bgcolor='blue'>
<tr><td>market</td><td>stock</td><td>Symbol</td><td>Company Name</td><td>Asset Type</td><td>Dividend</td><td>Market Cap</td><td>PE Ratio</td><td>Dividend Yield</td><td>Beta</td><td>Long_Term_Investment_Potential</td></tr>
</table></body>
</html>