<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Test API Client</title>
<script>
let doIt=()=>{
  let button = document.querySelector("button");
  button.disabled = true; // Disable the button after the first click
  let tab=document.getElementById("tab1");
  let rows=tab1.getElementsByTagName('tr');
  fetch('https://pruthviraj.uksouth.cloudapp.azure.com:8080/')
    .then(response => response.json())
    .then(data=>data.Results.forEach(  //.slice(0,3)
      x=>{
        let newRow=rows[0].cloneNode(true);
        let divs=newRow.getElementsByTagName('td');
        divs[0].innerHTML=x['market'];
        divs[1].innerHTML=x['stock'];
        divs[2].innerHTML=x['Symbol'];
        tab1.appendChild(newRow);
      }
    )
  );
}
</script>
</head>
<body>
<button onClick="doIt()">Press me</button>
This is where the results turn up: <br/>
<table id='tab1' bgcolor='blue'>
<tr><td>ID</td><td>Name</td><td>Email</td></tr>
</table></body>
</html>